


<table class="table">
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th>Name</th>
      <th>City</th>
      <th>Difference</th>
      <th>Current Time</th>
    </tr>
  </thead>

  {{#each zone in controller}}
  <tbody>
    <tr>
      <td><span class="glyphicon glyphicon-remove"></span></td>
      <td><span class="glyphicon glyphicon-edit"></span></td>
      <td>{{zone.name}}</td>
      <td>{{zone.cityName}}</td>
      <td>{{zone.minutesOffset}} minutes</td>
      <td>{{zone.currentTime}}</td>
    </tr>
  </tbody>
  {{/each}}
</table> 
