td input {
  border-style: dotted;
  border-width: 0 0 1px 0;
  display: inline-block;
}

input:focus{
  outline: none;
}

input.error {
  border-color: red;
}

td.error input {
  border-color: red;
}

#minutesOffsete {
  width: 8rem;
}

tfoot {
  text-align: center;
}

.glyphicon {
  cursor: pointer;
}